<div class="row">
    <form #frm="ngForm">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <strong *ngIf="!treasuryDTO.id">{{'Treasury.AddTreasury' |translate}}</strong>
                    <strong *ngIf="treasuryDTO.id && !viewMode">{{'Treasury.EditTreasury' |translate}}</strong>
                    <strong *ngIf="treasuryDTO.id  && viewMode ">{{'Treasury.ViewTreasury' |translate}}</strong>
                </div>
                <div class="card-body card-block">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label" for="date">{{'General.Date'|translate}}</label>
                                        <input [disabled]="viewMode" [(ngModel)]="treasuryDTO.date" type="date"
                                            id="date" class="form-control" #date="ngModel" name="date"
                                            [value]="treasuryDTO.date" aria-describedby="helpId">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label"
                                            for="accountTypeId">{{'General.AccountType'|translate}}</label>
                                        <ng-select name="accountTypeId" id="accountTypeId"
                                            [(ngModel)]="treasuryDTO.accountTypeId" (change)="onAccountTypeChange()">
                                            <ng-option *ngFor="let item of accountTypeList" [value]="item.value">
                                                {{'AccountTypeEnum.'+item.label |translate}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-4"
                                    *ngIf="treasuryDTO.accountTypeId && treasuryDTO.accountTypeId==accountTypeEnum.Clients || treasuryDTO.accountTypeId==accountTypeEnum.Vendors">
                                    <label class="form-label"
                                        for="clientVendorId">{{(treasuryDTO.accountTypeId==accountTypeEnum.Clients?"General.Client":"General.Vendor")|translate}}</label>
                                    <ng-select name="clientVendorId" id="clientVendorId"
                                        [(ngModel)]="treasuryDTO.clientVendorId" (change)="onClientVendorChange()">
                                        <ng-option value=" null"
                                            disabled>{{treasuryDTO.accountTypeId==accountTypeEnum.Clients?"General.SelectClient":"General.SelectVendor"|translate}}</ng-option>
                                        <ng-option *ngFor="let item of clientVendorList" [value]="item.id">
                                            {{item.fullName}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="col-md-4"
                                    *ngIf="treasuryDTO.accountTypeId && treasuryDTO.accountTypeId==accountTypeEnum.Clients || treasuryDTO.accountTypeId==accountTypeEnum.Vendors">
                                    <div class="form-group">
                                        <label for="previousBalance"
                                            class=" form-control-label">{{'General.PreviousBalance' |translate}}
                                            <span *ngIf="previousBalance!=0">
                                                -{{(previousBalance>0?'General.Debit':'General.Credit')
                                                |translate}}</span>
                                        </label>
                                        <input [disabled]="viewMode" [value]="previousBalance" type="text"
                                            id="previousBalance" class="form-control" readonly name="previousBalance"
                                            aria-describedby="helpId">
                                    </div>
                                </div>
                                <div class="col-md-4"
                                    *ngIf="treasuryDTO.accountTypeId && treasuryDTO.accountTypeId==accountTypeEnum.Clients || treasuryDTO.accountTypeId==accountTypeEnum.Vendors">
                                    <div class="form-group">
                                        <label for="currentBalance"
                                            class=" form-control-label">{{'General.CurrentBalance'
                                            |translate}}
                                            <span *ngIf="currentBalance!=0">
                                                -{{(currentBalance>0?'General.Debit':'General.Credit')
                                                |translate}}</span>
                                        </label>
                                        <input [disabled]="viewMode" [value]="currentBalance" type="text"
                                            id="currentBalance" class="form-control" readonly name="currentBalance"
                                            aria-describedby="helpId">
                                    </div>
                                </div>
                                <div class="col-md-4"
                                    *ngIf="treasuryDTO.accountTypeId && (treasuryDTO.accountTypeId !=accountTypeEnum.Vendors || treasuryDTO.accountTypeId !=accountTypeEnum.Vendors)">
                                    <div class="form-group">
                                        <label for="beneficiaryName"
                                            class=" form-control-label">{{'General.BeneficiaryName'
                                            |translate}}</label>
                                        <input [disabled]="viewMode" [(ngModel)]="treasuryDTO.beneficiaryName"
                                            type="text" id="beneficiaryName" class="form-control"
                                            #beneficiaryName="ngModel" name="beneficiaryName" id="beneficiaryName"
                                            class="form-control" aria-describedby="helpId">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label"
                                            for="paymentMethodId">{{'General.PaymentMethod'|translate}}</label>
                                        <ng-select name="paymentMethodId" id="paymentMethodId"
                                            [(ngModel)]="treasuryDTO.paymentMethodId">
                                            <ng-option *ngFor="let item of paymentMethodList" [value]="item.value">
                                                {{'PaymentMethodEnum.'+item.label |translate}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="debit" class=" form-control-label">{{'General.Debit'
                                            |translate}}</label>
                                        <input [disabled]="viewMode" [(ngModel)]="treasuryDTO.debit" type="number"
                                            id="debit" class="form-control" #debit="ngModel"
                                            [class.is-invalid]="debit.invalid && debit.touched"
                                            [class.is-valid]="debit.valid" name="debit" id="debit" class="form-control"
                                            aria-describedby="helpId">
                                        <small [hidden]="debit.valid || debit.untouched" id="helpId" class="text-muted"
                                            [translate]="'Errors.ThisFieldIsRequired'"></small>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="credit" class=" form-control-label">{{'General.Credit'
                                            |translate}}</label>
                                        <input [disabled]="viewMode" [(ngModel)]="treasuryDTO.credit" type="number"
                                            id="credit" class="form-control" #credit="ngModel"
                                            [class.is-invalid]="credit.invalid && credit.touched"
                                            [class.is-valid]="credit.valid" name="credit" id="credit"
                                            class="form-control" aria-describedby="helpId">
                                        <!-- <small [hidden]="credit.valid || credit.untouched" id="helpId"
                                            class="text-muted" [translate]="'Errors.ThisFieldIsRequired'"></small> -->
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="refNo" class=" form-control-label">{{'General.RefNo'
                                            |translate}}</label>
                                        <input [disabled]="viewMode" [(ngModel)]="treasuryDTO.refNo" type="text"
                                            id="refNo" class="form-control" #refNo="ngModel" name="refNo" id="refNo"
                                            class="form-control" aria-describedby="helpId">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="notes" class=" form-control-label">{{'General.Notes'
                                            |translate}}</label>
                                        <input [disabled]="viewMode" [(ngModel)]="treasuryDTO.notes" type="text"
                                            id="notes" class="form-control" #notes="ngModel" name="notes" id="notes"
                                            class="form-control" aria-describedby="helpId">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-container p-3">
                    <button (click)="print()" type="button" class="btn btn-outline-success mr-1">
                        <i class="fa fa-print"></i>{{'General.Print' |translate}}
                    </button>
                    <button (click)="save(frm)" type="submit" class="btn btn-outline-primary mr-1"
                        [disabled]="frm.invalid">
                        <i class="fa fa-dot-circle-o"></i>{{'General.SaveChanges' |translate}}
                    </button>
                    <button type="reset" class="btn btn-danger mr-1" (click)="back()">
                        <i class="fa fa-ban"></i>{{'General.Back' |translate}}
                    </button>

                </div>
            </div>
        </div>
    </form>
</div>


<div id="treasury-form" style="display: none;">
    <br>
    <br>
    <br>
    <h2 class="text-center"> إيصال إستلام نقدية</h2>
    <!-- <h5 class="text-center">رقم:{{treasuryDTO.number}}</h5> -->
    <h6 class="text-center">التاريخ:{{treasuryDTO.date}}</h6>
    <br>
    <br>
    <div class="row">

        <div class="col-12">
            <table class="table-report" style="background-color: white !important;border: none !important" border="0">

                <tr *ngIf="treasuryDTO.debit>0">
                    <td class="text-right"> استلمنا من السيد </td>
                    <td class="text-center text-bold"> {{treasuryDTO.beneficiaryName}} </td>
                    <td class="text-left">We received from</td>
                </tr>
                <tr *ngIf="treasuryDTO.credit>0">
                    <td class="text-right"> اصرفوا الى السيد </td>
                    <td class="text-center text-bold"> {{treasuryDTO.beneficiaryName}} </td>
                    <td class="text-left">Pay for</td>
                </tr>
                <tr>
                    <td class="text-right">مبلغ </td>
                    <td class="text-center text-bold">{{ treasuryDTO.debit>0 ?treasuryDTO.debit:treasuryDTO.credit}}
                        جنيه مصري </td>
                    <td class="text-left">Amount</td>
                </tr>
                <tr *ngIf="treasuryDTO.clientVendorId">
                    <td class="text-right">الرصيد السابق </td>
                    <td class="text-center text-bold">{{ previousBalance}}
                        جنيه مصري </td>
                    <td class="text-left">Previous Balance</td>
                </tr>
                <tr *ngIf="treasuryDTO.clientVendorId">
                    <td class="text-right">الرصيد الحالي </td>
                    <td class="text-center text-bold">{{ currentBalance}}
                        جنيه مصري </td>
                    <td class="text-left">Current Balance</td>
                </tr>
                <tr>
                    <td class="text-right">وذلك مقابل </td>
                    <td class="text-center text-bold">{{treasuryDTO.notes}} </td>
                    <td class="text-left">Payment Against</td>
                </tr>
                <tr>
                    <td class="text-right"> طريقة الدفع </td>
                    <td class="text-center text-bold">
                        {{'PaymentMethodEnum.'+paymentMethodEnum[treasuryDTO.paymentMethodId] |translate}} </td>
                    <td class="text-left">Payment Method</td>
                </tr>
                <tr>
                    <td class="text-right"> الرقم المرجعي </td>
                    <td class="text-center text-bold">{{treasuryDTO.refNo}} </td>
                    <td class="text-left">Reference No </td>
                </tr>

            </table>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="row">

        <div class="col-12">
            <table style="background-color: white !important;border: none !important" border="0">

                <tr>
                    <td> المستلم</td>
                    <td>أمين الصندوق</td>
                </tr>
                <tr>
                    <td>...................</td>
                    <td>..................</td>
                </tr>


            </table>
        </div>

    </div>

</div>