<!-- MENU SIDEBAR-->
<aside class="menu-sidebar2" id="menu-sidebar2">

    <div class="menu-sidebar2__content js-scrollbar1 ps ps--active-y">
        <div class="account2">
            <img class="image img-cir img-120" src="{{imageSrc}}" />
            <!-- <img class="image img-cir img-150 img-fluid" *ngIf="!authService.loggedUserProfile?.imageUrl"
                src="{{imageSrc}}" /> -->
            <h4 class="name">
                {{authService.loggedUserProfile?.firstName}} {{authService.loggedUserProfile?.lastName}}
            </h4>
            <a class="btn-link" (click)='logOut()' translate>Authentication.SignOut</a>
        </div>
        <ng-container>
            <nav class="navbar-sidebar2">
                <ul class="list-unstyled navbar__list">
                    <li routerLinkActive="active" *IfPrivilege="helperService.privileges.Dashboard.DashboardPage.View">
                        <a [routerLink]="['/dashboard']">
                            <i class="fas fa-chart-bar"></i><span translate>SideMenu.Dashboard</span> </a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-cog"></i> <span translate>SideMenu.Setup</span>
                            <span class="arrow">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li routerLinkActive="active" *IfPrivilege="helperService.privileges.Setup.Categories.View">
                                <a [routerLink]="['/setup/category-list']">
                                    <i class="fa fa-envelope"></i><span translate>SideMenu.Categories</span></a>
                            </li>

                            <li routerLinkActive="active" *IfPrivilege="helperService.privileges.Setup.Products.View">
                                <a [routerLink]="['/setup/product-list-view']">
                                    <i class="fa fa-question-circle"></i><span translate>SideMenu.Products</span></a>
                            </li>
                            <li routerLinkActive="active"
                                *IfPrivilege="helperService.privileges.Setup.UnitOfMeasurements.View">
                                <a [routerLink]="['/setup/unit-of-measurement-list']">
                                    <i class="fa fa-question-circle"></i><span
                                        translate>SideMenu.UnitOfMeasurements</span></a>
                            </li>
                            <li routerLinkActive="active" *IfPrivilege="helperService.privileges.Setup.Clients.View">
                                <a [routerLink]="['/setup/client-list']">
                                    <i class="fa fa-question-circle"></i><span translate>SideMenu.Clients</span></a>
                            </li>
                            <li routerLinkActive="active" *IfPrivilege="helperService.privileges.Setup.Vendors.View">
                                <a [routerLink]="['/setup/vendor-list']">
                                    <i class="fa fa-question-circle"></i><span translate>SideMenu.Vendors</span></a>
                            </li>
                            <li routerLinkActive="active"
                                *IfPrivilege="helperService.privileges.Setup.Representives.View">
                                <a [routerLink]="['/setup/representive-list']">
                                    <i class="fa fa-question-circle"></i><span
                                        translate>SideMenu.Representives</span></a>
                            </li>

                        </ul>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-cog"></i> <span translate>SideMenu.Purchases</span>
                            <span class="arrow">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li routerLinkActive="active"
                                *IfPrivilege="helperService.privileges.Purchases.PurchasesBills.View">
                                <a [routerLink]="['/purchases-bill/purchases-bill-list']">
                                    <i class="fa fa-envelope"></i><span translate>SideMenu.PurchasesBills</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fa fa-cog"></i> <span translate>SideMenu.Sales</span>
                            <span class="arrow">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li routerLinkActive="active" *IfPrivilege="helperService.privileges.Sales.SalesBills.View">
                                <a [routerLink]="['/sales-bill/sales-bill-list']">
                                    <i class="fa fa-envelope"></i><span translate>SideMenu.SalesBills</span></a>
                            </li>
                        </ul>
                    </li>



                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-users"></i> <span translate>SideMenu.UserManagement</span>
                            <span class="arrow">
                                <i class="fas fa-angle-down"></i>
                            </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li routerLinkActive="active"
                                *IfPrivilege="helperService.privileges.UserManagement.Users.View">
                                <a [routerLink]="['/user/user-list']">
                                    <i class="fas fa-user"></i><span translate>SideMenu.UserList</span></a>
                            </li>
                            <li routerLinkActive="active"
                                *IfPrivilege="helperService.privileges.UserManagement.Roles.View">
                                <a [routerLink]="['/user/role-list']">
                                    <i class="fas fa-user"></i><span translate>SideMenu.RoleList</span></a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </nav>
        </ng-container>
    </div>
</aside>
<!-- END MENU SIDEBAR-->