<div class="row">
    <div class="col-md-12">
        <h3 class="title-5 m-b-35" *ngIf="!isTemp && !isReturned">
            {{'Purchases.PurchasesBillsTitle' |translate}}</h3>
        <h3 class="title-5 m-b-35" *ngIf="isTemp">{{'Purchases.PurchasesBillsTempTitle' |translate}}</h3>
        <h3 class="title-5 m-b-35" *ngIf="isReturned">{{'General.BillsPurchasesReturnedList' |translate}}
        </h3>

        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <button class="au-btn-filter" (click)="toggleFilter()">
                    <i class="zmdi zmdi-filter-list"></i>{{'General.Filter'|translate}}</button>
            </div>
            <div class="table-data__tool-right" *ngIf="!isTemp && !isReturned">
                <button [routerLink]="['/purchases-bill/purchases-bill-form']"
                    class="au-btn au-btn-icon au-btn--black au-btn--small">
                    <i class="zmdi zmdi-plus"></i>{{'Purchases.AddPurchasesBill' |translate}}
                </button>
            </div>
            <div class="table-data__tool-right" *ngIf="isTemp">
                <button [routerLink]="['/purchases-bill/purchases-bill-temp-form']"
                    class="au-btn au-btn-icon au-btn--black au-btn--small">
                    <i class="zmdi zmdi-plus"></i>{{'Purchases.AddPurchasesBillTemp' |translate}}
                </button>
            </div>
            <div class="table-data__tool-right" *ngIf="isReturned">
                <button [routerLink]="['/purchases-bill/purchases-bill-new-returned-form']"
                    class="au-btn au-btn-icon au-btn--black au-btn--small">
                    <i class="zmdi zmdi-plus"></i>{{'General.AddBillReturnedForm' |translate}}
                </button>
            </div>
        </div>

        <!--Filters-->
        <div class="row" *ngIf="showFilterControls">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">{{'General.Filters'|translate}}</div>
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="number" class=" form-control-label">{{'General.Number'
                                            |translate}}</label>
                                        <input [(ngModel)]="searchCriteriaDTO.number" type="text" id="code"
                                            class="form-control" #number="ngModel" name="number">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label" for="date">{{'General.Date'|translate}}</label>
                                        <input [(ngModel)]="searchCriteriaDTO.date" type="date" id="date"
                                            class="form-control" #date="ngModel" name="date"
                                            [value]="searchCriteriaDTO.date" aria-describedby="helpId">

                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <label class="form-label" for="vendorId">{{'General.Vendor'|translate}}</label>
                                    <div class="input-group">
                                        <ng-select name="vendorId" id="vendorId" class="ng-select-custom"
                                            [(ngModel)]="searchCriteriaDTO.clientVendorId">
                                            <ng-option value=" null"
                                                disabled>{{'General.SelectVendor'|translate}}</ng-option>
                                            <ng-option *ngFor="let item of vendorList" [value]="item.id">
                                                {{item.fullName}}
                                            </ng-option>
                                        </ng-select>

                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="personPhoneNumber"
                                            class=" form-control-label">{{'General.VendorPhoneNumber'
                                            |translate}}</label>
                                        <input [(ngModel)]="searchCriteriaDTO.personPhoneNumber" type="text"
                                            id="personPhoneNumber" class="form-control" #personPhoneNumber="ngModel"
                                            name="personPhoneNumber">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-9">
                                    <button (click)="search()"
                                        class="au-btn au-btn-icon au-btn--blue au-btn--small btn-search mt-4">
                                        <i class="zmdi zmdi-search"></i>{{'General.Search'|translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Filters-->

        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead class="table-header-bc">
                    <tr>
                        <th>#</th>
                        <th class="table-header-fc">{{'General.Number' |translate}}</th>
                        <th class="table-header-fc">{{'General.Date' |translate}}</th>
                        <th class="table-header-fc">{{'General.Vendor' |translate}}</th>
                        <th class="table-header-fc">{{'General.Total' |translate}}</th>
                        <th class="table-header-fc">{{'General.CreatedByProfileName' |translate}}</th>
                        <th class="table-header-fc">{{'General.ModifiedByProfileName' |translate}}</th>
                        <th class="table-header-fc">{{'General.Notes' |translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-shadow" *ngFor="let item of purchasesBillHeaderList;let i=index; ">
                        <td>{{i+1}}</td>
                        <td>{{item.number}}</td>
                        <td>{{item.date}}</td>
                        <td>{{item.clientVendorName}}</td>
                        <td>{{item.totalAfterDiscount}}</td>
                        <td>{{item.createdByUsername}}</td>
                        <td>{{item.modifiedByUsername}}</td>
                        <td>{{item.notes}}</td>
                        <td>
                            <div class="table-data-feature">
                                <button *ngIf="!searchCriteriaDTO.isReturned" class="item ml-2" data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="View"
                                    [routerLink]="['/purchases-bill/purchases-bill-form-view/'+item.id]">
                                    <i class="zmdi zmdi-eye"></i>
                                </button>

                                <button *ngIf="!searchCriteriaDTO.isReturned" class="item ml-2" data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="Edit"
                                    [routerLink]="['/purchases-bill/purchases-bill-form/'+item.id]">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                                <button *ngIf="searchCriteriaDTO.isReturned" class="item ml-2" data-toggle="tooltip"
                                    data-placement="top" title="" data-original-title="Edit"
                                    [routerLink]="['/purchases-bill/purchases-bill-returned-form/'+item.id]">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                                <button class="item ml-2" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Delete" (click)="openConfirmationDialog(item)">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                                <button *ngIf="!searchCriteriaDTO.isReturned && !searchCriteriaDTO.isTemp"
                                    class="item ml-2" data-toggle="tooltip" type="button"
                                    title="{{'General.AddToReturnedBill' |translate}}"
                                    [routerLink]="['/purchases-bill/purchases-bill-new-returned-form/'+item.id]">
                                    <i class="fa fa-repeat"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
            <app-pagination (pageChange)="onPageChange($event)" [totalRecordsCount]="total"
                [recordsPerPage]="searchCriteriaDTO.pageSize" *ngIf="purchasesBillHeaderList">
            </app-pagination>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>