<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">{{'Role.Roles' |translate}}</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <button class="au-btn-filter" (click)="toggleFilter()">
                    <i class="zmdi zmdi-filter-list"></i>{{'General.Filter'|translate}}</button>
            </div>
            <div class="table-data__tool-right">
                <button [routerLink]="['/user/role-form']" class="au-btn au-btn-icon au-btn--black au-btn--small">
                    <i class="zmdi zmdi-plus"></i>{{'Role.AddRole' |translate}}
                </button>
            </div>
        </div>
        <!--Filters-->
        <div class="row" *ngIf="showFilterControls">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">{{'General.Filters'|translate}}</div>
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <!-- <div class="col-lg-3">
                                    <div class="form-group">
                                        <label class="form-label"
                                            for="form3Example3c">{{'Role.Status'|translate}}</label>
                                        <ng-select name="drivers" id="drivers" class="form-control"
                                            [(ngModel)]="searchCriteriaDTO.isActive">
                                            <ng-option value=''> {{'General.All' |translate}}</ng-option>
                                            <ng-option value=true> {{'RoleStatusEnum.active' |translate}}</ng-option>
                                            <ng-option value=false> {{'RoleStatusEnum.inactive' |translate}}</ng-option>
                                        </ng-select>
                                    </div>
                                </div> -->
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="name" class=" form-control-label">{{'Role.Name'
                                            |translate}}</label>
                                        <input [(ngModel)]="searchCriteriaDTO.name" type="text" id="name"
                                            class="form-control">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label for="description" class=" form-control-label">{{'Role.Description'
                                            |translate}}</label>
                                        <input [(ngModel)]="searchCriteriaDTO.description" type="text" id="description"
                                            class="form-control">
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-9">
                                    <button (click)="search()"
                                        class="au-btn au-btn-icon au-btn--blue au-btn--small btn-search mt-4">
                                        <i class="zmdi zmdi-search"></i>{{'General.Search'|translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Filters-->
        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead class="table-header-bc">
                    <tr>
                        <th class="table-header-fc">{{'Role.Name' |translate}}</th>
                        <th class="table-header-fc">{{'Role.Description' |translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-shadow" *ngFor="let item of roleList">
                        <td>{{item.name}} </td>
                        <td>{{item.description}}</td>
                        <td>
                            <div class="table-data-feature">
                              
                                <button class="item ml-2" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Edit" [routerLink]="['/user/role-form/'+item.id]">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                                <button class="item ml-2" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Delete" (click)="openConfirmationDialog(item)">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
            <app-pagination (pageChange)="onPageChange($event)" [totalRecordsCount]="total"
                [recordsPerPage]="searchCriteriaDTO.pageSize" *ngIf="roleList">
            </app-pagination>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>