<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">{{'Treasury.Treasury' |translate}}</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <button class="au-btn-filter" (click)="toggleFilter()">
                    <i class="zmdi zmdi-filter-list"></i>{{'General.Filter'|translate}}</button>
            </div>
            <div class="table-data__tool-right">
                <button [routerLink]="['/accounting/treasury-form']"
                    class="au-btn au-btn-icon au-btn--black au-btn--small">
                    <i class="zmdi zmdi-plus"></i>{{'Treasury.AddTreasury' |translate}}
                </button>
                <button (click)="print()" type="button" class="btn btn-outline-success mr-1">
                    <i class="fa fa-print"></i>{{'General.Print' |translate}}
                </button>
            </div>

        </div>

        <!--Filters-->
        <div class="row" *ngIf="showFilterControls">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">{{'General.Filters'|translate}}</div>
                    <div class="card-body">
                        <div class="col-lg-12">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label" for="date">{{'General.Date'|translate}}</label>
                                        <input [disabled]="viewMode" [(ngModel)]="searchCriteriaDTO.date" type="date"
                                            id="date" class="form-control" #date="ngModel" name="date"
                                            aria-describedby="helpId">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label"
                                            for="accountTypeId">{{'General.AccountType'|translate}}</label>
                                        <ng-select name="accountTypeId" id="accountTypeId"
                                            [(ngModel)]="searchCriteriaDTO.accountTypeId"
                                            (change)="onAccountTypeChange()">
                                            <ng-option *ngFor="let item of accountTypeList" [value]="item.value">
                                                {{'AccountTypeEnum.'+item.label |translate}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-md-4"
                                    *ngIf="searchCriteriaDTO.accountTypeId && searchCriteriaDTO.accountTypeId==accountTypeEnum.Clients || searchCriteriaDTO.accountTypeId==accountTypeEnum.Vendors">
                                    <label class="form-label"
                                        for="clientVendorId">{{(searchCriteriaDTO.accountTypeId==accountTypeEnum.Clients?"General.Client":"General.Vendor")|translate}}</label>
                                    <ng-select name="clientVendorId" id="clientVendorId"
                                        [(ngModel)]="searchCriteriaDTO.clientVendorId" >
                                        <ng-option value=" null"
                                            disabled>{{searchCriteriaDTO.accountTypeId==accountTypeEnum.Clients?"General.SelectClient":"General.SelectVendor"|translate}}</ng-option>
                                        <ng-option *ngFor="let item of clientVendorList" [value]="item.id">
                                            {{item.fullName}}
                                        </ng-option>
                                    </ng-select>
                                </div>
                                <div class="col-md-4"
                                    *ngIf="searchCriteriaDTO.accountTypeId && (searchCriteriaDTO.accountTypeId !=accountTypeEnum.Vendors || searchCriteriaDTO.accountTypeId !=accountTypeEnum.Vendors)">
                                    <div class="form-group">
                                        <label for="beneficiaryName"
                                            class=" form-control-label">{{'General.BeneficiaryName'
                                            |translate}}</label>
                                        <input [disabled]="viewMode" [(ngModel)]="searchCriteriaDTO.beneficiaryName"
                                            type="text" id="beneficiaryName" class="form-control"
                                            #beneficiaryName="ngModel" name="beneficiaryName" id="beneficiaryName"
                                            class="form-control" aria-describedby="helpId">
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label"
                                            for="paymentMethodId">{{'General.PaymentMethod'|translate}}</label>
                                        <ng-select name="paymentMethodId" id="paymentMethodId"
                                            [(ngModel)]="searchCriteriaDTO.paymentMethodId">
                                            <ng-option *ngFor="let item of paymentMethodList" [value]="item.value">
                                                {{'PaymentMethodEnum.'+item.label |translate}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <!-- <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="form-label"
                                            for="transactionTypeId">{{'General.TransactionType'|translate}}</label>
                                        <ng-select name="transactionTypeId" id="transactionTypeId"
                                            [(ngModel)]="searchCriteriaDTO.transactionTypeId">
                                            <ng-option *ngFor="let item of transactionTypeList" [value]="item.value">
                                                {{'TransactionTypeEnum.'+item.label |translate}}
                                            </ng-option>
                                        </ng-select>
                                    </div>
                                </div> -->

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="refNo" class=" form-control-label">{{'General.RefNo'
                                            |translate}}</label>
                                        <input [disabled]="viewMode" [(ngModel)]="searchCriteriaDTO.refNo" type="text"
                                            id="refNo" class="form-control" #refNo="ngModel" name="refNo" id="refNo"
                                            class="form-control" aria-describedby="helpId">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="bankAccountNo" class=" form-control-label">{{'General.BankAccountNo'
                                            |translate}}</label>
                                        <input [disabled]="viewMode" [(ngModel)]="searchCriteriaDTO.bankAccountNo"
                                            type="text" id="bankAccountNo" class="form-control" #bankAccountNo="ngModel"
                                            name="bankAccountNo" id="bankAccountNo" class="form-control"
                                            aria-describedby="helpId">
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-9">
                                    <button (click)="search()"
                                        class="au-btn au-btn-icon au-btn--blue au-btn--small btn-search mt-4">
                                        <i class="zmdi zmdi-search"></i>{{'General.Search'|translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Filters-->

        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead class="table-header-bc">
                    <tr>
                        <th class="table-header-fc">{{'General.Date' |translate}}</th>
                        <th class="table-header-fc">{{'General.AccountType' |translate}}</th>
                        <th class="table-header-fc">{{'General.BeneficiaryName' |translate}}</th>
                        <th class="table-header-fc">{{'General.PaymentMethod' |translate}}</th>
                        <th class="table-header-fc">{{'General.Debit' |translate}}</th>
                        <th class="table-header-fc">{{'General.Credit' |translate}}</th>
                        <th class="table-header-fc">{{'General.RefNo' |translate}}</th>
                        <th class="table-header-fc">{{'General.Notes' |translate}}</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-shadow" *ngFor="let item of treasuryList">
                        <td>{{item.date}}</td>
                        <td>
                            {{'AccountTypeEnum.'+accountTypeEnum[item.accountTypeId] |translate}}
                        </td>
                        <td>{{item.beneficiaryName}}</td>
                        <!-- <td>
                            {{'TransactionTypeEnum.'+transactionTypeEnum[item.transactionTypeId] |translate}}
                        </td> -->
                        <td>
                            {{'PaymentMethodEnum.'+paymentMethodEnum[item.paymentMethodId] |translate}}
                        </td>
                        <td>{{item.debit}}</td>
                        <td>{{item.credit}}</td>
                        <td>{{item.refNo}}</td>
                        <td>{{item.notes}}</td>

                        <td>
                            <div class="table-data-feature">
                                <button class="item ml-2" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Edit" [routerLink]="['/accounting/treasury-form/'+item.id]">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                                <button class="item ml-2" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Delete" (click)="openConfirmationDialog(item)">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>

                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
            <app-pagination (pageChange)="onPageChange($event)" [totalRecordsCount]="total"
                [recordsPerPage]="searchCriteriaDTO.pageSize" *ngIf="treasuryList">
            </app-pagination>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>




<div id="treasury-list" style="display: none;">
    <br>
    <br>
    <br>
    <h2 class="text-center">تقرير الخزينة</h2>
    <table class="table table-report">
        <thead>
            <tr>
                <th class="table-header-fc">{{'General.Date' |translate}}</th>
                <th class="table-header-fc">{{'General.AccountType' |translate}}</th>
                <th class="table-header-fc">{{'General.BeneficiaryName' |translate}}</th>
                <th class="table-header-fc">{{'General.PaymentMethod' |translate}}</th>
                <th class="table-header-fc">{{'General.Debit' |translate}}</th>
                <th class="table-header-fc">{{'General.Credit' |translate}}</th>
                <th class="table-header-fc">{{'General.RefNo' |translate}}</th>
                <th class="table-header-fc">{{'General.Notes' |translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="tr-shadow" *ngFor="let item of treasuryList">
                <td>{{item.date}}</td>
                <td>
                    {{'AccountTypeEnum.'+accountTypeEnum[item.accountTypeId] |translate}}
                </td>
                <td>{{item.beneficiaryName}}</td>

                <td>
                    {{'PaymentMethodEnum.'+paymentMethodEnum[item.paymentMethodId] |translate}}
                </td>
                <td>{{item.debit}}</td>
                <td>{{item.credit}}</td>
                <td>{{item.refNo}}</td>
                <td>{{item.notes}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-6">
            <table class="table table-report" style="background-color: white !important" border="0">
                <tr>
                    <td class="text-right">إجمالي الواردات </td>
                    <td class="text-center text-bold">{{incomingTotal}} </td>
                    <!-- <td class="text-left">Total</td> -->
                </tr>
                <tr>
                    <td class="text-right">إجمالي الصادرات</td>
                    <td class="text-center text-bold">{{outcomingTotal}}</td>
                    <!-- <td class="text-left">OtherExpenses</td> -->
                </tr>
                <tr>
                    <td class="text-right">رصيد الخزينة</td>
                    <td class="text-center text-bold">{{incomingTotal-outcomingTotal}}</td>
                    <!-- <td class="text-left">Discount</td> -->
                </tr>
            </table>
        </div>

    </div>

</div>