<header class="header-desktop3 d-none d-lg-block">
    <div class="section__content section__content--p35">
        <div class="header3-wrap">
            <div class="header__logo">
                <a href="#">
                    <img src="assets/images/icon/logo-white.png">
                </a>
            </div>
            <div class="header__navbar">
                <ul class="list-unstyled">
                    <!-- <li>
                        <a href="table.html">
                            <i class="fas fa-trophy"></i>
                            <span class="bot-line"></span>Features</a>
                    </li> -->


                    <li class="has-sub">
                        <a href="#">
                            <i class="fa fa-file"></i>
                            <span class="bot-line"></span><span translate>SideMenu.Products</span></a>
                        <ul class="header3-sub-list list-unstyled">
                            <li *IfPrivilege="helperService.privileges.Setup.Products.View">
                                <a [routerLink]="['/setup/product-list-view']">
                                    <i class="fa fa-question-circle"></i><span translate>SideMenu.ProductList</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Setup.Products.ChangePrice">
                                <a [routerLink]="['/setup/product-list-change-price']">
                                    <i class="fa fa-question-circle"></i><span translate>SideMenu.ChangePrice</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Setup.Products.ChangeQuantity">
                                <a [routerLink]="['/setup/product-list-change-quantity']">
                                    <i class="fa fa-question-circle"></i><span
                                        translate>SideMenu.ChangeQuantity</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Setup.Products.ViewProductTracking">
                                <a [routerLink]="['/setup/product-tracking']">
                                    <i class="fa fa-list-alt"></i><span
                                        translate>SideMenu.ProductTrackingTitle</span></a>
                            </li>

                        </ul>
                    </li>

                    <li class="has-sub">
                        <a href="#">
                            <i class="fa fa-file"></i>
                            <span class="bot-line"></span><span translate>SideMenu.Accounting</span></a>
                        <ul class="header3-sub-list list-unstyled">
                            <li *IfPrivilege="helperService.privileges.Accounting.Treasuries.View">
                                <a [routerLink]="['/accounting/treasury-list']">
                                    <i class="fa fa-question-circle"></i><span translate>SideMenu.Treasury</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#">
                            <i class="fas fa-shopping-basket"></i>
                            <span class="bot-line"></span><span translate>SideMenu.Sales</span></a>
                        <ul class="header3-sub-list list-unstyled">

                            <!-- <li>
                                <a [routerLink]="['/sales-bill/sales-bill-search']">
                                    <i class="fas fa-shopping-basket"></i><span
                                        translate>Sales.SearchSalesBill</span></a>
                            </li> -->
                            <li *IfPrivilege="helperService.privileges.Sales.SalesBills.Add">
                                <a [routerLink]="['/sales-bill/sales-bill-form']">
                                    <i class="fas fa-shopping-basket"></i><span translate>Sales.AddSalesBill</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Sales.SalesBills.View">
                                <a [routerLink]="['/sales-bill/sales-bill-list']">
                                    <i class="fas fa-shopping-basket"></i><span translate>SideMenu.SalesBills</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Sales.TempSalesBills.Add">
                                <a [routerLink]="['/sales-bill/sales-bill-temp-form']">
                                    <i class="fas fa-shopping-basket"></i><span
                                        translate>Sales.AddSalesBillTemp</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Sales.TempSalesBills.View">
                                <a [routerLink]="['/sales-bill/sales-bill-temp-list']">
                                    <i class="fas fa-shopping-basket"></i><span
                                        translate>Sales.SalesBillsTempTitle</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Sales.ReturnedSalesBills.Add">
                                <a [routerLink]="['/sales-bill/sales-bill-new-returned-form']">
                                    <i class="fas fa-shopping-basket"></i><span
                                        translate>General.AddBillReturnedForm</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Sales.ReturnedSalesBills.View">
                                <a [routerLink]="['/sales-bill/sales-bill-returned-list']">
                                    <i class="fas fa-shopping-basket"></i><span
                                        translate>General.BillsSalesReturnedList</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-sub">
                        <a href="#">
                            <i class="zmdi zmdi-shopping-cart"></i>
                            <span class="bot-line"></span><span translate>SideMenu.Purchases</span></a>
                        <ul class="header3-sub-list list-unstyled">
                           
                            <li *IfPrivilege="helperService.privileges.Purchases.PurchasesBills.Add">
                                <a [routerLink]="['/purchases-bill/purchases-bill-form']">
                                    <i class="zmdi zmdi-shopping-cart"></i><span
                                        translate>Purchases.AddPurchasesBill</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Purchases.PurchasesBills.View">
                                <a [routerLink]="['/purchases-bill/purchases-bill-list']">
                                    <i class="zmdi zmdi-shopping-cart"></i><span
                                        translate>SideMenu.PurchasesBills</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Purchases.TempPurchasesBills.Add">
                                <a [routerLink]="['/purchases-bill/purchases-bill-temp-form']">
                                    <i class="zmdi zmdi-shopping-cart"></i><span
                                        translate>Purchases.AddPurchasesBillTemp</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Purchases.TempPurchasesBills.View">
                                <a [routerLink]="['/purchases-bill/purchases-bill-temp-list']">
                                    <i class="zmdi zmdi-shopping-cart"></i><span
                                        translate>Purchases.PurchasesBillsTempTitle</span></a>
                            </li>
                            <li  *IfPrivilege="helperService.privileges.Purchases.ReturnedPurchasesBills.Add">
                                <a [routerLink]="['/purchases-bill/purchases-bill-new-returned-form']">
                                    <i class="fas fa-shopping-basket"></i><span
                                        translate>General.AddBillReturnedForm</span></a>
                            </li>
                            <li  *IfPrivilege="helperService.privileges.Purchases.ReturnedPurchasesBills.View">
                                <a [routerLink]="['/purchases-bill/purchases-bill-returned-list']">
                                    <i class="fas fa-shopping-basket"></i><span
                                        translate>General.BillsPurchasesReturnedList</span></a>
                            </li>
                        </ul>
                    </li>

                    <li class="has-sub">
                        <a href="#">
                            <i class="fa fa-file"></i>
                            <span class="bot-line"></span><span translate>SideMenu.Reports</span></a>
                        <ul class="header3-sub-list list-unstyled">
                            <li *IfPrivilege="helperService.privileges.Reports.AccountStatementAllClients.View">
                                <a [routerLink]="['/report/account-statement-all-clients']">
                                    <i class="fa fa-file"></i><span
                                        translate>Reports.AccountStatementForAllClients</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Reports.AccountStatementSingleClient.View">
                                <a [routerLink]="['/report/account-statement-single-client']">
                                    <i class="fa fa-file"></i><span
                                        translate>Reports.AccountStatementForSingleClient</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Reports.AccountStatementAllVendors.View">
                                <a [routerLink]="['/report/account-statement-all-vendors']">
                                    <i class="fa fa-file"></i><span
                                        translate>Reports.AccountStatementForAllVendors</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Reports.AccountStatementSingleVendor.View">
                                <a [routerLink]="['/report/account-statement-single-vendor']">
                                    <i class="fa fa-file"></i><span
                                        translate>Reports.AccountStatementForSingleVendor</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Reports.ProductMinusQuantity.View">
                                <a [routerLink]="['/report/product-list-minus-report']">
                                    <i class="fa fa-file"></i><span translate>Reports.MinusProducts</span></a>
                            </li>
                            <li *IfPrivilege="helperService.privileges.Reports.ProductLowQuantity.View">
                                <a [routerLink]="['/report/product-list-low-quantity-report']">
                                    <i class="fa fa-file"></i><span translate>Reports.LowQuantityProducts</span></a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>
            <div class="header__tool">
                <div class="header-button-item has-noti js-item-menu">
                    <i class="zmdi zmdi-notifications"></i>
                    <div class="notifi-dropdown notifi-dropdown--no-bor js-dropdown">
                        <div class="notifi__title">
                            <p>You have 3 Notifications</p>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c1 img-cir img-40">
                                <i class="zmdi zmdi-email-open"></i>
                            </div>
                            <div class="content">
                                <p>You got a email notification</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c2 img-cir img-40">
                                <i class="zmdi zmdi-account-box"></i>
                            </div>
                            <div class="content">
                                <p>Your account has been blocked</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__item">
                            <div class="bg-c3 img-cir img-40">
                                <i class="zmdi zmdi-file-text"></i>
                            </div>
                            <div class="content">
                                <p>You got a new file</p>
                                <span class="date">April 12, 2018 06:50</span>
                            </div>
                        </div>
                        <div class="notifi__footer">
                            <a href="#">All notifications</a>
                        </div>
                    </div>
                </div>
                <div class="header-button-item js-item-menu">
                    <i class="zmdi zmdi-settings"></i>
                    <div class="setting-dropdown js-dropdown">
                        <div class="account-dropdown__body">
                            <!-- <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-account"></i>Account</a>
                            </div> -->
                            <div *IfPrivilege="helperService.privileges.Setup.Companies.Edit" class="account-dropdown__item"   [routerLink]="['/setup/company-form/'+1]" >
                                <a class="label">
                                    <i class="zmdi zmdi-settings"></i>{{'General.EditCompanyData' | translate}}</a>
                            </div>
                            <!-- <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-money-box"></i>Billing</a>
                            </div> -->
                        </div>
                        <div class="account-dropdown__body">
                            <div class="label account-dropdown__item">
                                <app-change-langague>Change Language</app-change-langague>
                            </div>
                            <!-- <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-pin"></i>Location</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-email"></i>Email</a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-notifications"></i>Notifications</a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <!-- 
                <div class="account-wrap">
                    <div class="account-item account-item--style2 clearfix js-item-menu">
                        <div class="image">
                            <img src="{{imageSrc}}">
                        </div>
                        <div class="content">
                            <a class="js-acc-btn" href="#">{{authService.loggedUserProfile?.firstName}} </a>
                        </div>
                        <div class="account-dropdown js-dropdown">
                            <div class="info clearfix">
                                <div class="image">
                                    <a href="#">
                                        <img src="{{imageSrc}}">
                                    </a>
                                </div>
                                <div class="content">
                                    <h5 class="name">
                                        <a href="#">{{authService.loggedUserProfile?.firstName}}
                                            {{authService.loggedUserProfile?.lastName}}</a>
                                    </h5>
                                    <span class="email">{{authService.loggedUserProfile?.email}}</span>
                                </div>
                            </div>
                            <div class="account-dropdown__body">
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-account"></i>Account</a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-settings"></i>Setting</a>
                                </div>
                                <div class="account-dropdown__item">
                                    <a href="#">
                                        <i class="zmdi zmdi-money-box"></i>Billing</a>
                                </div>
                            </div>
                            <div class="account-dropdown__footer">
                                <a href="#">
                                    <i class="zmdi zmdi-power"></i>Logout</a>
                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</header>