<div class="modal-header">
    <h4 class="modal-title"><span>
        {{ 'Representive.AddRepresentive' |translate}}</span></h4>
   
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
               
                <div class="col-lg-12">
                    <div class="form-group">
                        <label for="fullName" class=" form-control-label">{{'General.FullName'
                            |translate}}</label>
                        <input  [(ngModel)]="representiveDTO.fullName" type="text"
                            id="fullName" class="form-control" #fullName="ngModel"
                            [class.is-invalid]="fullName.invalid && fullName.touched"
                            [class.is-valid]="fullName.valid" required name="fullName"
                            aria-describedby="helpId">
                        <small [hidden]="fullName.valid || fullName.untouched" id="helpId"
                            class="text-muted" [translate]="'Errors.ThisFieldIsRequired'"></small>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info" (click)="save()" translate>General.Save</button>
    <button type="button" class="btn btn-danger" (click)="cancel()" translate>General.Cancel</button>
</div>