<div class="row">
    <div class="col-md-12">
        <!-- DATA TABLE -->
        <h3 class="title-5 m-b-35">{{'Product.Title' |translate}}</h3>
        <div class="table-data__tool">
            <div class="table-data__tool-left">
                <button class="au-btn-filter" (click)="toggleFilter()">
                    <i class="zmdi zmdi-filter-list"></i>{{'General.Filter'|translate}}</button>
            </div>
            <div class="table-data__tool-right">
                <button [routerLink]="['/setup/product-form']" class="au-btn au-btn-icon au-btn--black au-btn--small">
                    <i class="zmdi zmdi-plus"></i>{{'Product.AddProduct' |translate}}
                </button>
                <button *ngIf="changePrice || changeQuantity" (click)="saveAll()"
                    class="au-btn au-btn-icon au-btn--blue au-btn--small">
                    <i class="zmdi zmdi-file"></i>{{'General.SaveAll' |translate}}
                </button>
                <button *ngIf="changePrice || changeQuantity" type="reset" class="btn btn-danger mr-1" (click)="reset()">
                    <i class="fa fa-ban"></i>{{'General.Cancel' |translate}}
                </button>
            </div>

        </div>

        <!--Filters-->
        <div class="row" *ngIf="showFilterControls">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">{{'General.Filters'|translate}}</div>
                    <div class="card-body">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label"
                                            for="form3Example3c">{{'General.Status'|translate}}</label>
                                        <ng-select name="drivers" id="drivers" [(ngModel)]="searchCriteriaDTO.isActive">
                                            <ng-option value=''> {{'General.All' |translate}}</ng-option>
                                            <ng-option value=true> {{'General.Active' |translate}}</ng-option>
                                            <ng-option value=false> {{'General.InActive' |translate}}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label class="form-label"
                                            for="form3Example3c">{{'General.Category'|translate}}</label>
                                        <ng-select name="category" id="category"
                                            [(ngModel)]="searchCriteriaDTO.categoryId">
                                            <ng-option value="">{{'General.SelectCategory'|translate}}</ng-option>
                                            <ng-option *ngFor="let item of categoryList" [value]="item.id">
                                                {{item.name}}</ng-option>
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="code" class=" form-control-label">{{'General.Code'
                                            |translate}}</label>
                                        <input [(ngModel)]="searchCriteriaDTO.code" type="text" id="code"
                                            class="form-control" #code="ngModel" name="code">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="name" class=" form-control-label">{{'General.Name'
                                            |translate}}</label>
                                        <input [(ngModel)]="searchCriteriaDTO.name" type="text" id="name"
                                            class="form-control" #name="ngModel" name="name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3"></div>
                                <div class="col-lg-9">
                                    <button (click)="search()"
                                        class="au-btn au-btn-icon au-btn--blue au-btn--small btn-search mt-4">
                                        <i class="zmdi zmdi-search"></i>{{'General.Search'|translate}}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Filters-->

        <div class="table-responsive table-responsive-data2">
            <table class="table table-data2">
                <thead class="table-header-bc">
                    <tr>
                        <th class="table-header-fc">{{'General.Status' |translate}}</th>
                        <th class="table-header-fc">{{'General.Image' |translate}}</th>
                        <th class="table-header-fc">{{'General.Category' |translate}}</th>
                        <th class="table-header-fc">{{'General.Code' |translate}}</th>
                        <th class="table-header-fc">{{'General.Name' |translate}}</th>
                        <th class="table-header-fc">{{'General.Price' |translate}}</th>
                        <th class="table-header-fc">{{'Product.SellingPricePercentage' |translate}}</th>
                        <th class="table-header-fc">{{'Product.PurchasingPricePercentage' |translate}}</th>
                        <th class="table-header-fc">{{'General.ActualQuantity' |translate}}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr-shadow" *ngFor="let item of productList">
                        <td>
                            <span class="status active-status" *ngIf="item.isActive">
                                {{'General.Active' |translate}}
                            </span>
                            <span class="status in-active-status" *ngIf="!item.isActive">
                                {{'General.InActive' |translate}}
                            </span>
                        </td>
                        <td>
                            <img *ngIf="item.imageUrl" src="{{serverUrl}}wwwroot/Images/Products/{{item.imageUrl}}"
                                class="image img-cir img-40 img-fluid">
                            <img class="image img-cir img-40 img-fluid" *ngIf="!item.imageUrl"
                                src="assets/images/icon/avatar-big-01.jpg" />
                        </td>
                        <td>{{item.categoryName}}</td>
                        <td>{{item.code}}</td>
                        <td class="cell-width-26">{{item.name}}</td>
                        <td>
                            <input *ngIf="changePrice;else readOnlyPrice" [(ngModel)]="item.price" type="number"
                                class="form-control" [ngModelOptions]="{standalone: true}"
                                (change)="item.isChanged=true">
                            <ng-template #readOnlyPrice>{{item.price}}</ng-template>
                        </td>
                        <td>
                            <input *ngIf="changePrice;else readOnlySellingPricePercentage"
                                [(ngModel)]="item.sellingPricePercentage" type="number" class="form-control"
                                [ngModelOptions]="{standalone: true}" (change)="item.isChanged=true">
                            <ng-template #readOnlySellingPricePercentage>{{item.sellingPricePercentage}}</ng-template>
                        </td>
                        <td>
                            <input *ngIf="changePrice;else readOnlyPurchasingPricePercentage"
                                [(ngModel)]="item.purchasingPricePercentage" type="number" class="form-control"
                                [ngModelOptions]="{standalone: true}" (change)="item.isChanged=true">
                            <ng-template
                                #readOnlyPurchasingPricePercentage>{{item.purchasingPricePercentage}}</ng-template>
                        </td>
                        <td>
                            <input *ngIf="changeQuantity;else readOnlyQuantity" [(ngModel)]="item.actualQuantity"
                                type="number" class="form-control" [ngModelOptions]="{standalone: true}"
                                (change)="item.isChanged=true">
                            <ng-template #readOnlyQuantity>{{item.actualQuantity}}</ng-template>
                        </td>
                        <td *ngIf="viewMode">
                            <div class="table-data-feature">
                                <button class="item ml-2" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Edit" [routerLink]="['/setup/product-form/'+item.id]">
                                    <i class="zmdi zmdi-edit"></i>
                                </button>
                                <button class="item ml-2" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Product History"
                                    [routerLink]="['/setup/product-tracking/'+item.id]">
                                    <i class="fa fa-list"></i>
                                </button>
                                <button class="item ml-2" data-toggle="tooltip" data-placement="top" title=""
                                    data-original-title="Delete" (click)="openConfirmationDialog(item)">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>

                            </div>
                        </td>
                    </tr>
                </tbody>

            </table>
            <app-pagination (pageChange)="onPageChange($event)" [totalRecordsCount]="total"
                [recordsPerPage]="searchCriteriaDTO.pageSize" *ngIf="productList">
            </app-pagination>
        </div>
        <!-- END DATA TABLE -->
    </div>
</div>